body {
    background-color: #f2e9e1;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #575279;
}
h1 {
    color: #56526e;
    margin-left: 2em;
}
#header {
    background-color: #ea9a97;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#signup-form {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-div {
    padding: 1em;
    background-color: #f4ede8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 3px rgba(223, 218, 217, 0.7);
}
input {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}
input::placeholder {
    color: #ebbcba;
}

a {
    text-decoration: none;
    color: #ea9a97;
}
