html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
body {
    background-color: #f2e9e1;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #286983;
    font-family: "Cormorant Garamond";
    font-weight: 600;
}

h1 {
    font-size: 3em;
    text-shadow: 3px -2px 3px #ebbcba;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 1em;
    background-color: #fffaf3;
    height: 40vh;
    width: 20vw;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 3px rgba(223, 218, 217, 0.7);
}

button {
    background-color: #fffaf3;
    border: none;
    box-shadow: 1px 1px 2px 1px #9ccfd8;
    border-radius: 4px;
    margin: 0.5em;
    width: 4em;
    padding: 0.5em 0.6em;
    color: #ebbcba;
    font-size: 1em;
    font-weight: 700;
}
button:hover {
    transform: translateY(2px);
    box-shadow: 1px 1px 2px 1px #286983;
}

input::placeholder {
    color: #ebbcba;
}

input:hover {
    box-shadow: 1px 1px 2px 1px #286983;
}
input {
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px 2px rgba(156, 207, 216, 0.4);
    border-radius: 4px;
    max-width: 80%;
    height: 1.2em;
    padding: 0.5em;
    margin: 0.2em;
}
a {
    text-decoration: none;
    color: #ea9a97;
    margin-top: 1rem;
}
